body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(245, 245, 221);
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Lora", serif;
}
:placeholder-shown {
    font-family: "Open Sans", sans-serif;
}
textarea {
    border: 1px solid #FF7B7B;
}
select {
    font-family: "Open Sans", sans-serif;
}
input {
    font-family: "Open Sans", sans-serif;
}
/*LOGO*/
.logo {
    background-color: #FF6F6F;
    margin-bottom: 200px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.logo img {
    position: relative;
    left: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* END


/*  MAIN CONTAINER*/ 
.background {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 750px;
	box-shadow: 0 6px 10px #cf0000;
    border: 1px solid #FF7B7B;
    text-align: center;
    background-color: rgb(247, 247, 210);
    border-radius: 10px;
    height: 720px;
}
.background1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 750px;
	box-shadow: 0 6px 10px #cf0000;
    border: 1px solid #FF7B7B;
    text-align: center;
    background-color: rgb(247, 247, 210);
    border-radius: 10px;
    height: 2300px;
}
.background2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 750px;
	box-shadow: 0 6px 10px #cf0000;
    border: 1px solid #FF7B7B;
    text-align: center;
    background-color: rgb(247, 247, 210);
    border-radius: 10px;
    height: 700px;
}
/* END

/*CUSTOMER CONTAINER */
.customer-information {
    padding: 5px 20px;
    background-color: #FF7B7B;
    margin: 20px;
    color: white;
    box-shadow: 0 6px 10px #cf0000;
    border-radius: 10px;
}
.customer-information-contents {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(247, 247, 210);
}
.customer-information-contents input {
    margin: 15px;
    padding: 7px;
    margin-left: -430px;
    width: 400px;
    border: 1px solid #FF7B7B;
    border-radius: 5px;
}
input[type=text]:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
input[type=email]:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
input[type=tel]:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
textarea:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
input[type=datetime-local]:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
.customer-information-contents table {
    margin-left: 80px;
    text-align: left;
}
/* END

/*ORDER CONTAINER */
.order-information {
    padding: 5px 20px;
    background-color: #FF7B7B;
    margin: 20px;
    color: white;
    box-shadow: 0 6px 10px #cf0000;
    border-radius: 5px;
}
.order-information-contents thead {
    position: relative;
}
.order-information-contents tbody.quantity input {
    border: 1px solid #FF7B7B;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
input[type=number]:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
.order-information-contents .patty {
    position: relative;
}
.order-information-contents .patty label,.patty input {
    position: relative;
    bottom: 30px;
}
.order-information-contents thead.burger {
    position: relative;
    font-family: "Lora", serif;
    font-size: 32px;
}
.order-information-contents thead th {
    font-family: "Lora", serif;
    font-size: 32px;
}
.order-information-contents tbody.burger {
    position: relative;
    left: 60px;
    float: left;
}
.order-information-contents tbody.sauce img {
    width: 100px;
    height: 75px;
    display: flex;
}
.order-information-contents tbody.burger img, tbody.toppings img {
    width: 100px;
    height: 75px;
    display: flex;
}
.order-information-contents .burger label, .burger input {
    position: relative;
    bottom: 45px;
    left: 80px;
}
.order-information-contents tbody.toppings {
    position: relative;
    right: 100px;
    float: right;
}
.order-information-contents .toppings label, .toppings input {
    position: relative;
    bottom: 40px;
    left: 60px;
    vertical-align: left;
}
.order-information-contents tbody.pasta th, tbody.pasta img {
    position: relative;
    font-family: "Lora", serif;
    font-size: 32px;
}
.order-information-contents .sauce label, .sauce input {
    position: relative;
}
.order-information-contents tbody.sauce {
    position: relative;
    left: 60px;
    float: left;
}
.order-information-contents tbody.sauce img {
    width: 100px;
    height: 85px;
    display: flex;
}
.order-information-contents tbody.fries {
    position: relative;
    float: left;
    left: 70px;
}
.order-information-contents .fries-quantity label, .fries-quantity input {
    position: relative;
    float: left;
    left: 100px;
}
.order-information-contents tbody.fries-quantity input {
    border: 1px solid #FF7B7B;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.order-information-contents tbody.fries-quantity select {
    border: 1px solid #FF7B7B;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    right: 200px;
}
.order-information-contents tbody.fries {
    position: relative;
    font-family: "Lora", serif;
    font-size: 32px;
}
.order-information-contents tbody.drinks {
    position: relative;
    left: 200px;
    bottom: 350px;
}
.order-information-contents .drinks-quantity label, .drinks-quantity input {
    position: relative;
    left: 200px;
    bottom: 340px;
}
.order-information-contents tbody.drinks-quantity input {
    border: 1px solid #FF7B7B;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.order-information-contents tbody.drinks {
    position: relative;
    font-family: "Lora", serif;
    font-size: 32px;   
}
.order-information-contents tbody.drinks-quantity select {
    border: 1px solid #FF7B7B;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 200px;
    bottom: 340px;
}
select:focus{
    outline: none;      
    box-shadow: 0 0 0 1px #cf0000; 
}
/* END

/*FOOTER*/
.gotop{
    position: fixed;
    right: 190px;
    bottom: 5px;
}
.gotop a{
    opacity: 0.8;
}
.gotop a:hover{
    opacity: 1;
}
/* END